<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lizhongbin.mybaking.mapper.ContentMapper">
    <insert id="insertContent">
        insert into t_content
        (title,
         img_url,
         video_url,
         content,
         type,
         view_count,
         comment_count,
         create_by,
         create_time,
         brief,
         category_id)
        values (#{title}, #{imgUrl}, #{videoUrl}, #{content}, #{type}, #{viewCount}, #{commentCount}, #{createBy},
                #{createTime}, #{brief}, #{categoryId});
    </insert>
    <select id="selectContentsByCreatByAndType" resultType="cn.lizhongbin.mybaking.pojo.vo.ContentVO">
        select t2.id,
               title,
               brief,
               img_url,
               t2.type,
               view_count,
               comment_count,
               t2.create_time,
               t1.name as categoryName
        from t_category t1
                 join t_content t2
                      on t1.id = t2.category_id
        where t2.create_by = #{id}
          and t2.type = #{type}
        order by create_time
                DESC
    </select>
    <delete id="deleteContentsById">
        delete
        from t_content
        where id = #{contentId}
    </delete>
    <delete id="deleteCommentsByContentId">
        delete
        from t_comment
        where content_id = #{contentId}
    </delete>
    <select id="selectImgUrlByContentId">
        select t_content.img_url
        from t_content
        where id = #{contentId}
    </select>
    <select id="selectVideoUrlByContentId">
        select t_content.video_url
        from t_content
        where id = #{contentId}
    </select>
    <select id="selectContentById" resultType="cn.lizhongbin.mybaking.pojo.vo.ContentVO">
        select id,
               title,
               img_url,
               video_url,
               content,
               type,
               category_id
        from t_content
        where id = #{id}
    </select>
    <update id="updateContent">
        update t_content
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="imgUrl!=null">
                img_url= #{imgUrl},
            </if>
            <if test="videoUrl!=null">
                video_url = #{videoUrl},
            </if>
            <if test="type!=null">
                type = #{type},
            </if>
            <if test="categoryId!=null">
                category_id= #{categoryId},
            </if>
            <if test="content!=null">
                content = #{content},
            </if>
            <if test="brief!=null">
                brief = #{brief},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="updateBy!=null">
                update_by = #{updateBy},
            </if>
            <if test="viewCount!=null">
                view_count = #{viewCount},
            </if>
            <if test="commentCount!=null">
                comment_count = #{commentCount}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectForIndex" resultType="cn.lizhongbin.mybaking.pojo.vo.ContentIndexVO">
        select t1.id,t1.title,t1.img_url as contentImgUrl,t2.nickname,t2.img_url as userImgUrl,t3.name as categoryName
        from t_content t1
        join t_user t2 on t1.create_by = t2.id
        join t_category t3 on t1.category_id = t3.id
        where t1.type = #{type}
        <if test="categoryId!=0">
            and t1.category_id = #{categoryId}
        </if>
        order by t1.create_time DESC Limit 4
    </select>
    <select id="selectContentsByType" resultType="cn.lizhongbin.mybaking.pojo.vo.ContentIndexVO">
        select t1.id,
               t1.title,
               t1.img_url as contentImgUrl,
               t2.nickname,
               t2.img_url as userImgUrl,
               t3.name    as categoryName
        from t_content t1
                 join t_user t2 on t1.create_by = t2.id
                 join t_category t3 on t1.category_id = t3.id
        where t1.type = #{type}
        order by t1.create_time DESC
    </select>
    <select id="selectContentsByKeyword" resultType="cn.lizhongbin.mybaking.pojo.vo.ContentIndexVO">
        select t1.id,
               t1.title,
               t1.img_url as contentImgUrl,
               t2.nickname,
               t2.img_url as userImgUrl,
               t3.name    as categoryName
        from t_content t1
                 join t_user t2 on t1.create_by = t2.id
                 join t_category t3 on t1.category_id = t3.id
        where t1.title like concat('%', #{kw}, '%')
        order by t1.create_time DESC
    </select>
    <select id="selectContentDetailById" resultType="cn.lizhongbin.mybaking.pojo.vo.ContentDetailVO">
        select tc.id,
               title,
               brief,
               video_url,
               content,
               view_count,
               tc.create_time,
               tu.nickname,
               tu.img_url userImageUrl,
               tu.id userId,
               tc.type
        from t_content tc
                 join t_user tu on tc.create_by = tu.id
        where tc.id = #{id}
    </select>
    <update id="updateViewCount">
        update t_content set view_count = #{viewCount} where id = #{id}
    </update>
    <select id="selectOtherContentById" resultType="cn.lizhongbin.mybaking.pojo.vo.OtherContentVO">
        select id, title, img_url, create_time
        from t_content
        where t_content.create_by = #{userId}
          and id != #{id}
        order by create_time
        limit 4
    </select>

    <select id="selectHotContentById" resultType="cn.lizhongbin.mybaking.pojo.vo.OtherContentVO">
        select id, title, img_url, create_time,view_count
        from t_content
        where id != #{id}
        order by view_count
                DESC
        limit 4
    </select>
</mapper>